flask>=3.0.0

# OpenTelemetry SDK
opentelemetry-api>=1.24.0
opentelemetry-sdk>=1.24.0

# Exportadores OTLP (envia para o OTEL Collector via gRPC)
opentelemetry-exporter-otlp-proto-grpc>=1.24.0

# Logs via OTEL
opentelemetry-sdk-logs>=0.45b0; python_version < "3.12"
